*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;


}


li{
    list-style: none;
    padding: 20px 20px;

}
.navbar-list li:hover{
    background-color: rgb(0, 0, 0);
  
}
a{
    text-decoration: none;
    color: white;
}


.navbar-list{
 background-color: #555;
    display: flex;
 
}

.active{
    background-color: #04AA6D;

}

.fa-solid{
    padding-right: 15px;
    font-size: 18px;
}